DevTeam.Patterns.Dispose/obj/
DevTeam.Patterns.Dispose/bin/
DevTeam.Patterns.IoC/obj/
DevTeam.Patterns.IoC/bin/
DevTeam.Patterns.Reactive/obj/
DevTeam.Patterns.Reactive/bin/
TestTool/DevTeam.TestTool.Contracts/obj/
TestTool/DevTeam.TestTool.Engine.Contracts/obj/
TestTool/DevTeam.TestTool.Engine/obj/
TestTool/DevTeam.TestTool.dotNet/obj/
TestTool/DevTeam.TestTool.Test.Mocks/obj/
DevTeam.Patterns.EventAggregator/obj/
TestTool/DevTeam.TestTool.dotNet/bin/
DevTeam.Patterns.Dispose.Tests/obj/
DevTeam.Patterns.EventAggregator.Tests/obj/
DevTeam.Patterns.IoC.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DevTeam.Patterns.IoC.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DevTeam.Patterns.IoC.Tests/obj/
DevTeam.Patterns.Reactive.Tests/obj/
packages/
DevTeam.Patterns.Reactive.Tests/bin/
DevTeam.Patterns.EventAggregator.Tests/bin/
DevTeam.Patterns.Dispose.Tests/bin/
DevTeam.Patterns.IoC.Tests/bin/
Samples/ConsoleTimer/bin/
Samples/ConsoleTimer/obj/
Samples/Echo/obj/
Samples/Echo/bin/
.vs/
